body {
    padding: 10px;
}

.header-background {
    background-image: linear-gradient(to right, rgb(53, 89, 188), rgb(32, 9, 75));
}

.header-text {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.full-width {
    width: 100%;
}

label {
    color: lightgray;
}

#current-conditions-section {
    border-width: 3px;
    border-color: lightgray;
    border-style: solid;
    border-radius: 5px;
}